{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}


{% block body %}
<h1>Välkommen</h1>

<a href="{{path('create_book')}}"> Create books if all is deleted (when visited)</a> 

<b><br><br></b>
<a href="{{path('book_delete')}}"> DELETE ALL BOOKS (when visited)</a> 


{% endblock %}