<header>
    <nav>
        <a href="{{path('app_helloworld_index')}}"> Home</a> 
        <a href="{{path('app_helloworld_yatzy')}}"> yatzy</a> 
        <a href="{{path('app_helloworld_hello')}}"> hello</a> 
        <a href="{{path('book_show')}}"> Book</a>



    </nav>
</header>

