
{% extends "base.html" %}
{% block body %}

    <div class = "text">
        <h1>Highscore</h1>
    <p> Man kan spela 1 till 4 personer.</p>
    <p>Skriv in namnen på de spelare som ska vara med. </p>
    <p> Tryck sedan på spela yatzy för att spela spelet! </p>

   
    
    <div class="resulttable2">

        <table>
     
        <tbody>
        <tr>
            <td> Namn </td>
            <td>Poäng </td>
        </tr>
        {% for all in highscore %}
        <tr>
            <td>{{ all.name }} </td>
            <td>{{ all.score }} </td>
        </tr>
        {% endfor %}

    </table>
</div>
    </div>

    {% endblock %}
